
body {
    background-color: #ECF0F1;
}

.pointer {
    cursor: pointer;
}

/*************************************************Navbar header********************************************************/
.navbar-inverse {
    background-color: #34495E;
    border-color: #34495E;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 0px solid transparent;
    border-radius: 0px;

}

.navbar-brand {

    float: left;
    height: auto;
    padding: 10px 10px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #F39C12;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #009688;
}

/**********************************************************************************************************************/
/****************************************Transparent NavBar************************************************************/

section {
    max-width: 1190px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 32px 0;

}

section ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

section ul li {
    display: inline-block;
}

section ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: rgba(0, 51, 183, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
}

section ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(41, 41, 41, 0.1);
    color: rgba(0, 44, 154, 0.7);
}

/**********************************************************************************************************************/
/*****************************************************Blog Content*****************************************************/

.minus {
    padding: 0px 10px;
}

#blog {
    background-color: #f6f6f6;
}

#blog .card-block {
    padding: 10px;
}

#blog .card {
    background-color: #FFF;
    border: 1px solid #eceaea;
    margin: 20px 0px;
    text-align: justify
}

.btn.btn-default {
    background-color: #5db4c0;
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 13px 20px;
    font-size: 13px;
    font-weight: 600;
}

#blogContent {
    background-color: #f6f6f6;
}

#banner {
    width: 350px;
}

/**********************************************************************************************************************/
/***********************************************Blog Footer************************************************************/

#blogFooter {
    background-color: #f6f6f6;
    padding-top: 0px;
}

.area {
    margin-top: 100px;
    padding-top: 10px;
}

/**********************************************************************************************************************/
/******************************************Login Form******************************************************************/
.form-heading {
    color: #fff;
    font-size: 23px;
}

.login-form .form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}

.main-div {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    margin: 10px auto 30px;
    max-width: 38%;
    padding: 50px 70px 70px 71px;
}

.login-form .group {
    margin-bottom: 10px;
}

.login-form {
    text-align: center;
}

.forgot a {
    color: #777777;
    font-size: 14px;
    text-decoration: underline;
}

.login-form .btn.btn-primary {
    background: #009688 none repeat scroll 0 0;
    border-color: #009688;
    color: #ffffff;
    font-size: 14px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
}

.forgot {
    text-align: left;
    margin-bottom: 30px;
}

.login-form .btn.btn-primary.reset {
    background: #009688 none repeat scroll 0 0;
}

.imgContainer {
    text-align: center;
    margin: 24px 0 52px 0;
    position: relative;
}

/**********************************************************************************************************************/
